{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <form action="/history">
        <div class="section">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Transacted</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for i in rows %}
                    <tr>
                        <td>{{ i["stock"] }}</td>
                        <td>{{ i["shares"] }}</td>
                        <td>${{ i["price"] }}</td>
                        <td>{{ i["date"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </form>
{% endblock %}


